<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript Quiz</title>
    
    <!-- style.css -->
<link rel="stylesheet" href="{% static 'css/studentPortal/quiz.css' %}">    
</head>
<body>
    <div class="wrapper">
        <div>
           <i class="fas fa-award award_icon"></i>
           <h3 class="username">well done! <span class="name"></span></h3>
           <p class="userpoints">Your Points <span class="points"></span></p>
         <p class="usertime"> Time taken <span class="time_taken"></span></p>  
         <form method = "POST" action = "/gettingResult"> 
            {% csrf_token %}
            <input type= "hidden" id = "result" name = "points" value = "" />
            <input type= "hidden" id = "totalPoints" name = "totalPoints" value = "" />
            <input type= "hidden" id = "skills_result" name = "skills_result" value = "" />
            <button type="submit" id="send-my-url-to-django-button">Done</button>
        </form>
        </div>
    </div>
    
</body>

<script src="https://kit.fontawesome.com/d56261bbb9.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <!-- user info -->
        <script src="{% static 'js/studentPortal/quiz/userInfo.js' %}"></script>
       
</html>