:root {
    --baseColor:  #276678;
--hoverColor: #1687a7;
--bgcolor1: #d3e0ea;
--bgcolor2: #f6f5f5;
}
.navbar {
    background-color: var(--baseColor);
}
.navbar-light{
    padding: 0.45rem 0;
}
.navbar .container-fluid {
    margin:  0 2rem;
    }

.navbar-light .navbar-brand {
    color: white;
}
.navbar a {
    text-decoration: none;
    color: white;
    padding: 0;
}
.page-content  {
    height: 90vh;
    background-color: var(--bgcolor2);
}
.sidebar {
    background-color: var(--bgcolor1);
    height: 90vh;
}
i {
    width: 1rem;
    height: 1rem;
}
.col-2 {
    padding: 0;
}
.col-10{
    padding: 0;
}
.list-group {
margin-top: 4rem;
width: 100%;
}
.list-group-item {
    margin-left: 0.5rem;
    padding: 1rem;
    background-color: var(--bgcolor1);
    border: none;
}


