:root {
  --baseColor: #002542;
  --bgcolor1: #ffc3bd;
  --bgcolor2: #eeeeee;
  --hoverColor: #4a8abb;
}
.web-page {
  background-color: var(--baseColor);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.page-content {
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
  height: calc(100vh - 4.5rem);
  width: calc(100vw - 2rem);
  overflow: hidden;
}
.router-content {
  height: 90vh;
  overflow: scroll;
}

.navbar-light {
  padding: 0;
}
.navbar .container-fluid {
  margin: 0 2rem;
}

.navbar-light .navbar-brand {
  color: var(--bgcolor1);
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.3rem;
}
.robot {
  width: 4rem;
  height: 4rem;
}

.sidebar {
  background-color: var(--bgcolor2);
  height: 90vh;
}
.sidebar a {
  margin-left: 0.5rem;
  padding: 1rem;
  background-color: var(--bgcolor2);
  border: none;
  text-decoration: none;
  color: rgb(44, 43, 43);
}

.sidebar a:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}
.col-2 {
  padding: 0;
}
.col-10 {
  padding: 0;
}
.list-group {
  margin-top: 4rem;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
