<!DOCTYPE html>
{% extends 'adminPortal/baseAdmin.html' %} 
{% load static %} 
{% block header_block %}
<link rel="stylesheet" href="{% static 'css/adminPortal/addQuestions.css' %}" />
{% endblock %} 
{% block body_block %}
<form class="form-container border rounded-3 border-info p-3 m-5"
  method="POST"
  action="/addQuestions"
>
  {% csrf_token %}
  <div class="section row g-2 border rounded-3 border-3 border-primary p-2 m-2">
    <div class="form-floating question col-12">
      <textarea
        class="form-control"
        placeholder="Question"
        id="floatingTextarea2"
        style="height: 100px"
        name="question"
      ></textarea>
      <label for="floatingTextarea2">Question</label>
    </div>

    <div class="form-floating option A col-6">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Option A"
        name="optionA"
      />
      <label for="floatingInput">Option A</label>
    </div>
    <div class="form-floating option B col-6">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Option A"
        name="optionB"
      />
      <label for="floatingInput">Option B</label>
    </div>

    <div class="form-floating option C col-6">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Option A"
        name="optionC"
      />
      <label for="floatingInput">Option C</label>
    </div>
    <div class="form-floating option D col-6">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Option A"
        name="optionD"
      />
      <label for="floatingInput">Option D</label>
    </div>

    <div class="col-12">
      <div class="form-control correct-answer">
        <label for="floatingTextarea2">Correct Answer</label>
        <div class="radio-group">
          <div class="form-check form-check-inline mx-4">
            <input
              class="form-check-input"
              type="radio"
              name="correctOption"
              id="inlineRadio1"
              value="A"
            />
            <label class="form-check-label" for="inlineRadio1">A</label>
          </div>
          <div class="form-check form-check-inline mx-4">
            <input
              class="form-check-input"
              type="radio"
              name="correctOption"
              id="inlineRadio2"
              value="B"
            />
            <label class="form-check-label" for="inlineRadio2">B</label>
          </div>
          <div class="form-check form-check-inline mx-4">
            <input
              class="form-check-input"
              type="radio"
              name="correctOption"
              id="inlineRadio3"
              value="C"
            />
            <label class="form-check-label" for="inlineRadio3">C </label>
          </div>
          <div class="form-check form-check-inline mx-4">
            <input
              class="form-check-input"
              type="radio"
              name="correctOption"
              id="inlineRadio4"
              value="D"
            />
            <label class="form-check-label" for="inlineRadio4">D </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating option A ">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Tag"
        name="tag"
      />
      <label for="floatingInput">Tag</label>
    </div>
    </div>
  </div>
  <div class="bottom-section">
    <button type="submit" class="btn btn-primary m-2">Add</button>
    <div class="add-button">
      <i
        class="bi bi-plus-circle"
        style="font-size: 2.5rem; color: cornflowerblue"
      ></i>
    </div>
  </div>
</form>
{% endblock %}
