<!DOCTYPE html>
{% extends 'adminPortal/baseAdmin.html' %}
{% load static %} 
{% block header_block %}
<link
  rel="stylesheet"
  href="{% static 'css/adminPortal/adminDashboard.css' %}"
/>
{% endblock %} 
{% block body_block %}

<div class="container-fluid profile-block">
 <form class="row "  >
   <div class="mb-3 col-6">
      <label for="NmaeInput" class="form-label">Username</label>
      <input type = "text" class="form-control" id="NmaeInput" placeholder="Username" name="username"  value = "{{admin_dict.admin_details.username}}" disabled></input>
    </div>
    <div class="mb-3 col-6">
      <label for="EmailAddressInput" class="form-label">Emai</label>
      <input
        type="email"
        class="form-control"
        id="EmailAddressInput"
        placeholder="name@example.com"
        name="email"
        value = "{{admin_dict.admin_details.email}}"
        disabled
      />
    </div>
    </form>
<div class="display-cards">
            <div class="card registered-cards" >
          <div class="card-body">
            <h6 class="card-text">No of Registered Students: </h6>
             <h6 class="card-title"><center>{{ num }}</center></h6>
          </div>
        </div>       
            <div class="card eligible-cards" >
          <div class="card-body">
            <h6 class="card-text">No of Eligible Students: </h6>
             <h6 class="card-title"><center>{{ enum }}</center></h6>
          </div>
        </div>       
      </div>
 

    <div class= "available-quiz">
      <h5>Quiz Questions Available</h5>
      <div class="quiz-cards">
        {% for tag in admin_dict.tags %}
            <div class="card" >
          <div class="card-body">
            <h6 class="card-title">{{ tag.tag }}</h6>
            <p class="card-text">Total Questions: </p>
            <a href="questions/{{tag.tag}}" class="edit-btn">View Questions</a>
          </div>
        </div>
        {% endfor %}        
      </div>
    </div>
</div>


  {% endblock %}
