{% comment %} <!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/adminPortal/baseAdmin.css' %}">    

    {% block header_block %}
       <!-- css file link -->
    {% endblock %}
    <title>Admin Portal</title>
  </head>
  <body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            ResumeFilter
          </a>
          <a href="#">
            Logout
          </a>
    </div>
      </nav>
      <div class="contatiner-fluid page-content">
          <div class="row">
            <div class="col-2 sidebar">
                <ul class="list-group">
                    <a href="/adminDashboard">Dashboard</a>
                    <a href="/addQuestions">Add Questions</a>
                    <a href="/eligibleCandidates">Eligible Candidates</a>
                    <a href="/registerAdmins">Register Admins</a>
                  </ul>
            </div> 
            <div class="col-10 contatiner-fluid router-content">
                    {% block body_block %}
                    main content
                    {% endblock %}
          </div>
      </div>

     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
 {% endcomment %}


<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/adminPortal/baseAdmin.css' %}">    

    {% block header_block %}
       <!-- css file link -->
    {% endblock %}
    <title>Admin Portal</title>
  </head>
  <body>
    <div class="container-fluid web-page">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> ResumeFilter </a>
          <div class="nav-right">
            <a href="#"> LOGOUT </a>
            <img class = "robot" src= "{% static 'images/robot.png' %}"
          </div>
        </div>
      </nav>
      <div class="contatiner-fluid page-content">
        <div class="row">
            <div class="col-2 sidebar">
                <ul class="list-group">
                    <a href="/adminDashboard">Dashboard</a>
                    <a href="/addQuestions">Add Questions</a>
                    <a href="/eligibleCandidates">Eligible Candidates</a>
                    <a href="/registerAdmins">Register Admins</a>
                  </ul>
            </div> 
            <div class="col-10 contatiner-fluid router-content">
                    {% block body_block %}
                    main content
                    {% endblock %}
            </div>
        </div>
     </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
