<!DOCTYPE html>
{% extends 'adminPortal/baseAdmin.html' %}
{% load static %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/adminPortal/registerAdmins.css' %}">
    {% endblock %}
      {% block body_block %}
<div class="container-fluid register-block">
  <form class="row needs-validation" novalidate method = "POST" action = "/registerAdmins">
    {% csrf_token %}
  <div class="mb-3 col-6">
      <label for="NmaeInput" class="form-label">Username</label>
      <input type = "text" class="form-control" id="NmaeInput" placeholder="Username" name="username" required></input>
      <div class="invalid-feedback">Username is required</div>
    </div>
    <div class="mb-3 col-6">
      <label for="EmailAddressInput" class="form-label">Emai</label>
      <input
        type="email"
        class="form-control"
        id="EmailAddressInput"
        placeholder="name@example.com"
        name="email"
        required
      />
      <div class="invalid-feedback">Incorrect email address</div>
    </div>

    <div class="mb-3 col-6">
      <label for="BirthdayInput" class="form-label">Password</label>
      <input type="text" id="paaswordInput" class="form-control" name="password" placeholder = "Password"
        required>
      <div class="invalid-feedback">Password is required</div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit" onclick = "success()">Submit</button>
    </div>
    </form>
    </div>

    {% endblock %}

{% block script_block%}
<!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous"
></script>

<script>
  var forms = document.querySelectorAll(".needs-validation");

  Array.prototype.slice.call(forms).forEach(function (form) {
    form.addEventListener(
      "submit",
      function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      },
      false
    );
  });

  function success() {
    alert("Admin is created successfully")
  } 
</script>
{% endblock %}
 
