<!DOCTYPE html> {% extends 'studentPortal/baseStudent.html' %} {% load static %}
{% block header_block %}
<link
  rel="stylesheet"
  href="{% static 'css/studentPortal/studentDashboard.css' %}"
/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %} {% block body_block %}
<div class="dashboard-content">

  <div class="accordion accordion-flush" id="accordionFlushExample">
        {% comment %} {% if registered %}
              <div class="register-check">
                  <img class ="check" src = {% static 'images/check.png' %}>
              </div>  
        {% endif %} {% endcomment %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Register    
           
        </button>
      </h2>      
      

    
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          {% if registered %}
            <button class="register-btn" onclick="register()">
              Update Profile
            </button>
          {% else %}  
            <button class="register-btn" onclick="register()">
              Register
            </button>
          {% endif %}  
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Upload Resume
        </button>
      </h2>
      {% comment %} {% if uploadedResume %}
            <div class="upload-check">
                <img class ="check" src = {% static 'images/check.png' %}>
            </div>  
       {% endif %} {% endcomment %}
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
        {% if registered %}
            {% if not uploadedResume %}
                <button class="upload-btn" onclick="upload()">
                  Upload
                </button>
            {% else %}
                <button class="upload-btn" onclick="upload()">
                  Update Resume
                </button>
            {% endif %}
        {% else %}
          <p>Register yourself first</p> 
        {% endif %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Start Quiz
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          {% if uploadedResume %}
              {% if  showQuiz  %}
                <p>
                  Start your quiz assigned by the company. Complete your quiz under 1
                  hour time. you will have 20 multiple choice questions and you need
                  to complete your test while webcam on and do not cheat in this test.
                  Start your quiz assigned by the company. Complete your quiz under 1
                  hour time. you will have 20 multiple choice questions.
                </p>
                <button class="start-quiz-btn" onclick="startQuiz()">
                  Start Now
                </button>
              {% else %}
                <p>{{ message }}</p>
              {% endif %} 
          {% else %}
             <p>Complete your details first.</p>
          {% endif %}
                

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          Results
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to
          demonstrate the <code>.accordion-flush</code> class. This is the third
          item's accordion body. Nothing more exciting happening here in terms
          of content, but just filling up the space to make it look, at least at
          first glance, a bit more representative of how this would look in a
          real-world application.
        </div>
      </div>
    </div>
  </div>
  <div class="image">
    <img class= "leaf" src = {% static 'images/leaf.png' %} > <img class =
    "amico" src = {% static 'images/amico_image.png' %}>
  </div>
</div>
{% endblock %} {% block script_block%}
<script src="{% static 'js\studentPortal\studentDashboard.js' %}"></script>
{% endblock %}
