:root {
  --baseColor: #276678;
  --hoverColor: #1687a7;
  --bgcolor1: #d3e0ea;
  --bgcolor2: #f6f5f5;
}
.web-page {
  background-color: #002542;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.page-content {
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
  height: calc(100vh - 5rem);
  width: calc(100vw - 2rem);
  overflow: scroll;
}

.navbar-light {
  padding: 0.45rem 0;
}
.navbar .container-fluid {
  margin: 0 2rem;
}

.navbar-light .navbar-brand {
  color: #ffc3bd;
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 0;
}

.robot {
  width: 3rem;
  height: 4rem;
}

::-webkit-scrollbar {
  display: none;
}
