:root {
  --baseColor: #002542;
  --bgcolor1: #ffc3bd;
  --bgcolor2: #eeeeee;
  --hoverColor: #4a8abb;
}
.username
{
   position:absolute;
   top:1.1rem !important;
   left:25rem !important;
   color: #ffc3bd !important;
   
}
.web-page {
  background-color: var(--baseColor);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.page-content {
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
  height: calc(100vh - 4.5rem);
  width: calc(100vw - 2rem);
  overflow: scroll;
}

.navbar-light {
  padding: 0;
}
.navbar .container-fluid {
  margin: 0 2rem;
}

.navbar-light .navbar-brand {
  color: var(--bgcolor1);
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.3rem;
}

.robot {
  width: 4rem;
  height: 4rem;
}

::-webkit-scrollbar {
  display: none;
}
