:root {
  --baseColor: #002542;
  --bgcolor1: #ffc3bd;
  --bgcolor2: #eeeeee;
  --hoverColor: #4a8abb;
}
.image {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 4rem);
  height: 70vh;
  top: 18vh;
  left: 1rem;
}
.amico {
  width: 40vw;
}
.accordion {
  position: absolute;
  top: 2rem;
  left: 15%;
  width: 45vw;
  z-index: 100;
}
.accordion-item {
  margin: 1rem;
  background: #ffffff;
  border-bottom: none;
  /* box-shadow: 0px 1px 4px rgba(0, 161, 207, 0.41); */
}

.accordion-body {
  margin-top: 0.5rem;
  box-shadow: 0px 1px 4px rgba(0, 161, 207, 0.41);
  border-radius: 1rem !important;
}

.accordion-button {
  padding: 0.7rem 1.2rem;
  box-shadow: 0px 1px 4px rgba(0, 161, 207, 0.41);
  border-radius: 1rem !important;
}
.accordion-button:not(.collapsed) {
  color: var(--baseColor);
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 161, 207, 0.41);
}
.start-quiz-btn {
  width: 6rem;
  height: 2rem;
  color: var(--baseColor);
  background: linear-gradient(256.01deg, #ffd5d1 20.88%, #8be5ff 100.05%);
  border: none;
  border-radius: 6px;
}
.start-quiz-btn:hover {
  color: var(--hoverColor);
  border: 2px solid var(--hoverColor);
}
